<?php
/**
* 
*/
?>
<input type="checkbox" id="uninstall-erase" name="settings[uninstall][eraseData]" value="1" <?php if ($settings->eraseData) echo "checked='checked'"; ?> /> 
<label for="uninstall-erase"><?php echo cssJSToolbox::getText('Wipe out data!') ?></label>