<ul id="block-menu">
	<li>
		<a href="#file"><?php echo cssJSToolbox::getText('File') ?></a>
		<ul>
			<li><a href="#load"><?php echo cssJSToolbox::getText('ReLoad') ?></a></li>
			<li><a href="#load-file"><?php echo cssJSToolbox::getText('Load Local') ?></a></li>
			<li><a href="#load-url"><?php echo cssJSToolbox::getText('Load Url') ?></a></li>
			<li></li>
			<li><a href="#save"><?php echo cssJSToolbox::getText('Save') ?></a></li>
			<li><a href="#save-file"><?php echo cssJSToolbox::getText('Save File') ?></a></li>
			<li></li>
			<li><a href="#delete"><?php echo cssJSToolbox::getText('Delete') ?></a></li>
		</ul>
	</li>
	<li>
		<a href="#edit"><?php echo cssJSToolbox::getText('Edit') ?></a>
		<ul>
			<li><a href="#ace-undo"><?php echo cssJSToolbox::getText('Undo') ?></a></li>
			<li><a href="#ace-redo"><?php echo cssJSToolbox::getText('Redo') ?></a></li>
		  <li></li>		  
			<li><a href="#ace-find"><?php echo cssJSToolbox::getText('Find') ?></a></li>
			<li><a href="#ace-findnext"><?php echo cssJSToolbox::getText('Find Next') ?></a></li>
			<li><a href="#ace-findprevious"><?php echo cssJSToolbox::getText('Find Previous') ?></a></li>
			<li></li>
			<li><a href="#ace-replace"><?php echo cssJSToolbox::getText('Replace') ?></a></li>
			<li></li>
			<li><a href="#ace-gotoline"><?php echo cssJSToolbox::getText('Go To Line') ?></a></li>
			<li><a href="#ace-golineup"><?php echo cssJSToolbox::getText('Go Line Up') ?></a></li>
			<li><a href="#ace-golinedown"><?php echo cssJSToolbox::getText('Go Line down') ?></a></li>
			<li></li>
			<li><a href="#ace-goToNextError"><?php echo cssJSToolbox::getText('Go To Next Error') ?></a></li>
			<li><a href="#ace-goToPreviousError"><?php echo cssJSToolbox::getText('Go To Previous Error') ?></a></li>
			<li></li>
			<li><a href="#ace-fold"><?php echo cssJSToolbox::getText('Fold') ?></a></li>
			<li><a href="#ace-foldall"><?php echo cssJSToolbox::getText('Fold All') ?></a></li>
			<li><a href="#ace-unfold"><?php echo cssJSToolbox::getText('UnFold') ?></a></li>
			<li><a href="#ace-unfoldall"><?php echo cssJSToolbox::getText('UnFold All') ?></a></li>
			<li></li>
			<li><a href="#ace-tolowercase"><?php echo cssJSToolbox::getText('To Lower Case') ?></a></li>
			<li><a href="#ace-touppercase"><?php echo cssJSToolbox::getText('To Upper Case') ?></a></li>
			<li></li>
			<li><a href="#ace-showSettingsMenu"><?php echo cssJSToolbox::getText('Settings') ?></a></li>
		</ul>
	</li>	
	<li>
		<a href="#view"><?php echo cssJSToolbox::getText('View') ?></a>
		<ul>
			<li><a href="#statusBar"><?php echo cssJSToolbox::getText('Status Bar') ?></a></li>
		</ul>
	</li>
</ul>