/* Toolboxes */
.cjt-toolbox .divider,
.cjt-toolbox .empty-divider {
	margin: 0 20px;
	width: 2px;
	display: inline-block;
	height: 25px;
}

.cjt-toolbox .divider {
	background-image: url('images/divider.png');
	background-repeat: no-repeat;
	background-position: center;
}
.cjt-toolbox .icons-group {
	display: inline-block;
}
.cjt-toolbox .icons-group .popup-menu {
	position: absolute;
}
.cjt-toolbox .icons-group a.cjt-tb-link {
	width: 27px;
	height: 27px;
	display: inline-block;
	cursor: pointer;
	margin-left: 3px;
	background-repeat: no-repeat;
	background-position: left 85%;
}
.cjt-toolbox .icons-group a.cjt-tb-text-link {
	padding-left: 30px;
	width: 100%;
}
.cjt-toolbox .icons-group .popup-menu {
	margin-top: -4px;
	z-index: 2;
	background-color: white;
	padding: 10px 10px;
	border: 1px solid #bbb;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}
.cjt-toolbox .icons-group .popup-menu a.cjt-tb-text-link {
	width: auto;
	background-position-x: left;
	padding-left: 35px;
	padding-top: 6px;
}
.cjt-toolbox .icons-group a.l-127x23 {
	width: 105px;
	height: 23px;
}
.cjt-toolbox .icons-group a.l-45x27 {
	width: 45px;
	height: 27px;
}
.cjt-toolbox a.cjt-tb-link,
.cjt-toolbox a.cjt-tb-link:hover,
.cjt-toolbox a.cjt-tb-link:visited {
	color: #6C6B6B;
}
.cjt-toolbox a.cjt-tb-link:hover {
	opacity : 0.7;
	filter:alpha(opacity = 70%);
}
.cjt-toolbox a.cjttbs-disabled,
.cjt-toolbox a.cjttbs-disabled:hover {
	opacity : 0.4;
	filter:alpha(opacity = 4%);
}

.cjt-toolbox a.cjttbs-loading,
.cjt-toolbox a.cjttbs-loading:hover {
	opacity : 1;
	filter:alpha(opacity = 100%);
}
.cjt-toolbox a.cjttbs-loading{background: url(images/loading.gif) center no-repeat !important;}
