table.wp-list-table tbody tr td input[type="checkbox"] {margin-left: 8px;}
table tr th {text-align: center;}

th#_selection_ {width: 40px;}
td.name.column-name .description{
	margin-left: 6px;
	font-weight: bold;
	font-size: 11px;
	font-family: sans-serif;
	margin-top: 6px;
	min-width: 280px;
}

#packages-manager {padding-top:  10px;}