a.cjt-shortcodeparameter-type-field-imageslist  {
	font: bold 11px Arial;
	text-decoration: none;
	background-color: #EEEEEE;
	color: #333333;
	padding: 2px 6px 2px 6px;
	border-top: 1px solid #CCCCCC;
	border-right: 1px solid #333333;
	border-bottom: 1px solid #333333;
	border-left: 1px solid #CCCCCC;
	position: relative;
	top: 11px;
}

ul.cjt-shortcodeparameter-type-field-imageslist-list li {
	padding: 10px;
	padding-left: 64px;
	margin-top: 10px;
	text-align: center;
	background-color: #EFEFEF;
}
.images-list {min-height: 31px; border: 1px solid #EFEFEF; padding: 2px; margin-left: -1px;}
.imageslist-remove-image-button {
	margin-left: 20px;
	vertical-align: text-bottom;
}