#wpcontent, #footer {margin-left: 7px;}
#wpbody-content {padding-bottom: 65px}
table.wp-list-table tbody tr td input[type="checkbox"] {margin-left: 8px;}
.filter {margin-top: 2px;}
th#_selection_ {width: 20px;}
th#revisionNo{width: 140px;}