/* Give extra space for the last Block Code-Auto-Completion dialog */
#wpbody-content {margin-bottom: 270px; overflow: visible !important;}

.cjt-create-metabox-metabox-form .notice {
	font-weight: bold;
}
.cjcodeblock {
	margin-right: 0px !important; /* Override block.css style */
}

/**
* Show loading image with 100% opactiy.
*/
.block-toolbox a.cjttbs-disabled.cjttbs-loading {
	opacity: 1;
}

/* 
	Dont show disable state on the delete button itself 
	while its showing Ajax loading progress.
*/
.block-toolbox a.cjttbl-delete.cjttbs-disabled,
.block-toolbox a.cjttbl-delete.cjttbs-disabled:hover {
	opacity: 1;
}
/** Editor toolbox */
.editor-toolbox a.cjttbl-preview {background-image: url(../images/editor-toolbox/preview.png);}