#settings-tabs {
	height: 94%;
}
input[type="submit"].cjt-submit {
	margin-right: 2px;
	padding: 0px 30px;
	margin-top: 7px;
}
fieldset ul {list-style: none; padding: 0px}
fieldset ul li label {display: inline-block; width:200px}