<?php
/**
* 
*/

// Diallow direct access.
defined('ABSPATH') or die("Access denied");
?>

<h2><?php echo cssJSToolbox::getText('Welcome to the CSS & JavaScript Toolbox dashboard') ?></h2>
<p><?php echo cssJSToolbox::getText('Since you do not have any code blocks active, you can create a new code block.') ?></p>
<h4><?php echo cssJSToolbox::getText('Create a new Code Block') ?></h4>
<p><?php echo cssJSToolbox::getText('You can add a new code block by clicking the New Code Block button.  Once your code block has been added, simply choose the editor you wish to work with and write your code.  You can then select if you want your code to run in the header or the footer of the webpage.  Now it\'s just a matter of selecting the webpage where you want the code to run on, by using the Assignment Panel.  This panel lets you assign your code block to Pages, Posts, Categories, URLs, and much more, and you can select as many as you need.  Once you have saved your code block by clicking the Save button (or Save All Changes button), you can see it in action by refreshing the assigned webpage.') ?></p>