<?php
/**
* 
*/

// Disallow direct access.
defined('ABSPATH') or die("Access denied");

// Allow view to enqueue scripts and styles.
do_action('admin_print_scripts');
do_action('admin_print_styles');
?>
<html xmlns="">
	<head>
<?php wp_print_head_scripts() ?>
<?php wp_print_styles() ?>
	</head>
	<body>
		<div id="cjtoolbox_popup">
		  <form id="cjtoolbox_new_block_form" class="cjt-form">
  			<fieldset>
  				<ul>
  					<li>
  						<label for="cjt-new-block-name"><?php echo cssJSToolbox::getText('Name') ?>*</label>
  						<input type="text" id="cjt-new-block-name" name="name" value="" />
  					</li>
  					<li>
  						<label for="cjt-new-block-state"><?php echo cssJSToolbox::getText('Active') ?></label>
  						<input type="checkbox" id="cjt-new-block-state" name="state" value="active" checked="checked" />
  					</li>
  					<li>
  						<label for="cjt-new-block-location"><?php echo cssJSToolbox::getText('Hook') ?></label>
  						<select name="location" id="cjt-new-block-hook">
<?php
							$locations = array(
  							'header' => __('Header'),
  							'footer' => __('Footer'),
							);
							foreach ($locations as $key => $displayName) :
?>
							<option value="<?php echo $key ?>"><?php echo $displayName ?></option>
<?php
  						endforeach;
?>
							</select>
  					</li>
  					<li>
  						<label for="cjt-new-block-position"><?php echo cssJSToolbox::getText('Initial location') ?></label>
  						<select name="position" id="cjt-new-block-position">
<?php
							// Static locations.
							$positions = array(
  							'top' => __('First Block'),
  							'bottom' => __('Last Block'),
							);
							// Display locations list.
							foreach ($positions as $position => $displayName) :
?>
							<option value="<?php echo $position ?>"<?php if ($this->position == $position) : ?> selected="selected"<?php endif; ?>><?php echo $displayName ?></option>
<?php
  						endforeach;
?>
							</select>
  					</li>
  					<li class="last">
  						<input class="cjt-button cancel" type="button" value="<?php echo cssJSToolbox::getText('Cancel') ?>" />
					    <input class="cjt-button save" type="submit" name="submit" value="<?php echo cssJSToolbox::getText('Create') ?>" />
  					</li>
  				</ul>
  			</fieldset>
		  </form>
		</div>
	</body>
</html>