<div class="cjt-toolbox cjt-toolbox-blocks cjtb-position-<?php echo $location ?> widgets-holder-wrap">
	<div class="icons-group left-bar">
		<a class="cjt-tb-link l-127x23 textButton cjttbl-add-block" title="<?php echo cssJSToolbox::getText('Add new code block') ?>"><?php echo cssJSToolbox::getText('New Code Block') ?></a>
		<a class="cjt-tb-link l-127x23 textButton cjttbl-save-changes" title="<?php echo cssJSToolbox::getText('Save changes to all code blocks') ?>"><?php echo cssJSToolbox::getText('Save All Changes') ?></a>
	</div>
	<div class="icons-group tools-menu">
		<a class="cjt-tb-link cjttbl-global-settings" title="<?php echo cssJSToolbox::getText('General plugin settings') ?>"></a>
	</div>
</div>