<div class="cjt-toolbox cjt-toolbox-blocks cjtb-position-<?php echo $location ?>">
	<div class="icons-group left-bar">
		<a class="cjt-tb-link l-127x23 textButton cjttbl-add-block" title="<?php _e('Add Block', CJTOOLBOX_TEXT_DOMAIN) ?>"><?php _e('New Code Block') ?></a>
		<a class="cjt-tb-link l-127x23 textButton cjttbl-save-changes" title="<?php _e('Save changes', CJTOOLBOX_TEXT_DOMAIN) ?>"><?php _e('Save All Changes') ?></a>
		<a class="cjt-tb-link l-127x23 textButton cjttbl-cancel-restore" title="<?php _e('Cancel restoring Backup', CJTOOLBOX_TEXT_DOMAIN) ?>"><?php _e('Cancel Restore') ?></a>
		<a class="cjt-tb-link l-127x23 textButton cjttbl-restore" title="<?php _e('Save restored Backup', CJTOOLBOX_TEXT_DOMAIN) ?>"><?php _e('Restore') ?></a>
	</div>
	<div class="icons-group tools-menu">
		<a class="cjt-tb-link cjttbl-state-tools" title="<?php _e('Blocks State Tools', CJTOOLBOX_TEXT_DOMAIN) ?>"></a>
		<div class="popup-menu state-tools" style="display:none">
			<a class="cjt-tb-link cjt-tb-text-link cjttbl-activate-all" title="<?php _e('Activate all Blocks') ?>"><?php _e('Activate All', CJTOOLBOX_TEXT_DOMAIN) ?></a>
			<br />
			<a class="cjt-tb-link cjt-tb-text-link cjttbl-deactivate-all" title="<?php _e('Deactivate all Blocks') ?>"><?php _e('Deactivate All', CJTOOLBOX_TEXT_DOMAIN) ?></a>
			<br />
			<a class="cjt-tb-link cjt-tb-text-link cjttbl-revert-state" title="<?php _e('Switch State') ?>"><?php _e('Revert State', CJTOOLBOX_TEXT_DOMAIN) ?></a>
		</div>
		
		<a class="cjt-tb-link cjttbl-location-tools" title="<?php _e('Blocks Location Tools', CJTOOLBOX_TEXT_DOMAIN) ?>"></a>
		<div class="popup-menu location-tools" style="display:none">
			<a class="cjt-tb-link cjt-tb-text-link cjttbl-footer-all" title="<?php _e('Change Block location to footer', CJTOOLBOX_TEXT_DOMAIN) ?>"><?php _e('Footer all', CJTOOLBOX_TEXT_DOMAIN) ?></a>
			<br />
			<a class="cjt-tb-link cjt-tb-text-link cjttbl-header-all" title="<?php _e('Change Block location to header', CJTOOLBOX_TEXT_DOMAIN) ?>"><?php _e('Header all', CJTOOLBOX_TEXT_DOMAIN) ?></a>
		</div>
		
		<a class="cjt-tb-link cjttbl-admin-tools" title="<?php _e('Blocks admin tools', CJTOOLBOX_TEXT_DOMAIN) ?>"></a>
		<div class="popup-menu admin-tools" style="display:none">
			<a class="cjt-tb-link cjt-tb-text-link cjttbl-delete-all" title="<?php _e('Delete all Blocks', CJTOOLBOX_TEXT_DOMAIN) ?>"><?php _e('Clear', CJTOOLBOX_TEXT_DOMAIN) ?></a>
			<br />
			<a class="cjt-tb-link cjt-tb-text-link cjttbl-delete-empty" title="<?php _e('Delete empty Blocks', CJTOOLBOX_TEXT_DOMAIN) ?>"><?php _e('Delete Empty', CJTOOLBOX_TEXT_DOMAIN) ?></a>
			<br />
			<a class="cjt-tb-link cjt-tb-text-link cjttbl-manage-backups" title="<?php _e('Manage Backups', CJTOOLBOX_TEXT_DOMAIN) ?>"><?php _e('Backups', CJTOOLBOX_TEXT_DOMAIN) ?></a>
		</div>
		<div class="divider"></div>
		<a class="cjt-tb-link cjttbl-templates-manager" title="<?php _e('Manage templates', CJTOOLBOX_TEXT_DOMAIN) ?>"></a>
		<a class="cjt-tb-link cjttbl-global-settings" title="<?php _e('CJT Plugin Settings', CJTOOLBOX_TEXT_DOMAIN) ?>"></a>
		<div class="divider"></div>
		<a class="cjt-tb-link cjttbl-open-all" title="<?php _e('Open all', CJTOOLBOX_TEXT_DOMAIN) ?>"></a>
		<a class="cjt-tb-link cjttbl-close-all" title="<?php _e('Close all', CJTOOLBOX_TEXT_DOMAIN) ?>"></a>
	</div>
</div>