<?php
/**
* 
*/

// Disallow direct access.
defined('ABSPATH') or die("Access denied");

// Set buttons text.
if ($this->isNew) {
	$closeButtonText = cssJSToolbox::getText('Close');
	$updateButtonText = cssJSToolbox::getText('Save');
}
else {
	$closeButtonText = cssJSToolbox::getText('Cancel');
	$updateButtonText = cssJSToolbox::getText('Update');	
}

// Import dependencies.
cssJSToolbox::import('framework:html:list.php');

$coreFieldsState = $this->isNew ? '' : 'disabled="disabled"';
?>
<html xmlns="">
	<head>
<?php wp_print_head_scripts() ?>
<?php wp_print_styles() ?>
	</head>
	<body>
		<div id="wpwrap">
			<div id="wpcontent">
				<div id="wpbody">
					<div id="wpbody-content">
						<div class="wrap">
							<form id="item-form" class="cjt-form" method="post">
								<div id="form-tabs">
									<ul>
										<li><a href="#main-tab"><?php echo cssJSToolbox::getText('Main') ?></a></li>
										<li><a href="#description-tab"><?php echo cssJSToolbox::getText('Description') ?></a></li>
										<li><a href="#version-tab"><?php echo cssJSToolbox::getText('Version') ?></a></li>
									</ul>
									<div id="main-tab">
										<fieldset>
											<ul>
												<li><label for="name"><?php echo cssJSToolbox::getText('Name') ?><sub>*</sub></label><input type="text" id="name" name="item[template][name]" value="<?php echo $this->item->name ?>" <?php echo $coreFieldsState ?>></li>
												<li>
													<label for="type"><?php echo cssJSToolbox::getText('Type') ?><sub>*</sub></label>
<?php							echo CJTListField::getInstance('template-types', 'item-form', 'item[template][type]', $this->item->type, 'type', null, null, null, $coreFieldsState, cssJSToolbox::getText('< Select Type >'))->getInput(array('standard' => true, 'result' => 'fullList')) ?>
												</li>
												<li>
													<label for="state"><?php echo cssJSToolbox::getText('State') ?><sub>*</sub></label>
<?php							echo CJTListField::getInstance('template-states', 'item-form', 'item[template][state]', $this->item->state, 'state', null, null, null, null, cssJSToolbox::getText('< Select State >'))->getInput(array('standard' => true, 'result' => 'fullList')) ?>
												</li>
												<li>
													<label for="code"><?php echo cssJSToolbox::getText('Code') ?></label>
													<div class="ace-wrap">
														<div class="cac"><select class="code-list" size="2"></select></div>
														<div  id="code" name="item[revision][code]"><?php echo htmlentities($this->item->code) ?></div>
													</div>
												</li>
											</ul>
										</fieldset>
									</div>
									<div id="description-tab">
										<fieldset>
											<ul>
												<li><label for="description"><?php echo cssJSToolbox::getText('Description') ?></label><textarea id="description" name="item[template][description]"><?php echo $this->item->description ?></textarea></li>
												<li><label for="keywords"><?php echo cssJSToolbox::getText('Keywords') ?></label><textarea id="keywords" name="item[template][keywords]"><?php echo $this->item->keywords ?></textarea></li>
											</ul>
										</fieldset>	
									</div>
									<div id="version-tab">
										<fieldset>
											<ul>
												<li><label for="version"><?php echo cssJSToolbox::getText('Version') ?></label><input type="text" id="version" name="item[revision][version]" value="<?php echo $this->item->version ?>"></li>
												<li>
													<label for="developmentState"><?php echo cssJSToolbox::getText('State') ?></label>
<?php							echo CJTListField::getInstance('template-development-states', 'item-form', 'item[revision][state]', $this->item->developmentState, 'developmentState', null, null, null, null, cssJSToolbox::getText('< Select State >'))->getInput(array('standard' => true, 'result' => 'fullList')) ?>
												</li>
												<li><label for="changeLog"><?php echo cssJSToolbox::getText('Revision note') ?></label><textarea id="changeLog" name="item[revision][changeLog]"><?php echo $this->item->changeLog ?></textarea></li>
											</ul>
										</fieldset>
									</div>
								</div>
								<input type="button" id="cancel" class="button-secondary" value="<?php echo $closeButtonText ?>">
								<input type="button" id="save" class="button-secondary" value="<?php echo $updateButtonText ?>">
								<input type="hidden" name="item[template][id]" value="<?php echo $this->item->id ?>" />
							</form>
						</div>					
					</div>
				</div>			
			</div>
		</div>
<?php wp_print_footer_scripts() ?>
	</body>
</html>