form {margin: 0;}
input[type="button"]{padding: 2px 24px 2px 24px;}
#item-form label {vertical-align: top;}
#item-form textarea#description,
#item-form textarea#license {
	width: 727px; height: 188px;
}
#item-form textarea#keywords {width: 727px; height: 34px;}
#item-form #code {
	margin-top: 15px;
	width: 746px;
	height: 348px;
}
#item-form textarea#changeLog {
	height: 247px;
	width: 523px;
	margin-left: 2px;
}
#item-form #form-tabs .ui-tabs-panel {height: 474px; overflow: auto;}
#item-form select{margin-left: -2px;}
#item-form input#email,
#item-form input#url{
	width: 384px;
}
#item-form sub {
	color: red;
	position: relative;
	top: -7px;
}

/** Code Auto Completion */
.ace-wrap {position: relative;}
div.cac {
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color: white;
	border: 2px solid #169CE7;
	width: 310px;
	height: 200px;
	top: 0;
	left: 0;
	z-index: 32;
	display: none;
	margin-left: 10px;
	margin-top: 14px;
}
div.cac select.code-list {
	height: 96%;
	width: 98%;
	margin: 3px 2px !important;
	font-size: 14px;
	font-family: cursive;
	font-weight: bold;
	color: #999E21;
	border: 0;
}
div.cac select.code-list option {}