<?php
/**
* 
*/

// Disallow direct access.
defined('ABSPATH') or die('Restricted Access');
?>
<div class="cjt-toolbox editor-toolbox">
	<div class="icons-group">
		<a href="#" class="cjt-tb-link cjttbl-fullscreen" title="<?php echo $this->localization['screenmode_Title']  ?>"></a>
		<a href="#" class="cjt-tb-link cjttbl-editor-theme" title="<?php echo cssJSToolbox::getText('Switch Editor Theme')  ?>"></a>
		<a href="#" class="cjt-tb-link cjttbl-font-large" title="<?php echo cssJSToolbox::getText('Increase font size in code editor')  ?>"></a>
		<a href="#" class="cjt-tb-link cjttbl-font-small" title="<?php echo cssJSToolbox::getText('Decrease font size in code editor')  ?>"></a>
		<a href="#" class="cjt-tb-link cjttbl-reset-font" title="<?php echo cssJSToolbox::getText('Reset font size in code editor')  ?>"></a>
		<a href="#" class="cjt-tb-link cjttbl-clear-block" title="<?php echo cssJSToolbox::getText('Clear all text in code editor.  To undo, click Command-Z for Mac or Ctrl-Z for Windows.  Click Save to permanently take affect')  ?>"></a>
	</div>
</div>