<?php
/**
* 
*/

// Disallow direct access.
defined('ABSPATH') or die('Restricted Access');
?>
<div class="cjt-toolbox editor-toolbox">
	<div class="icons-group">
		<a href="#" class="cjt-tb-link cjttbl-fullscreen"></a>
		<a href="#" class="cjt-tb-link cjttbl-font-large"></a>
		<a href="#" class="cjt-tb-link cjttbl-font-small"></a>
		<a href="#" class="cjt-tb-link cjttbl-reset-font"></a>
	</div>
</div>