
		<div class="cjt-toolbox block-toolbox">
			<div class="icons-group">
				<a href="#" class="cjt-tb-link cjttbl-state-switch state-<?php echo $this->block->state ?>" title="<?php _e('Switch Block State', CJTOOLBOX_TEXT_DOMAIN) ?>"></a>
				<a href="#" class="cjt-tb-link cjttbl-location-switch location-<?php echo $this->block->location ?>" title="<?php _e('Switch output location hook', CJTOOLBOX_TEXT_DOMAIN) ?>"></a>
			</div>
			<div class="divider"></div>
			<div class="icons-group">
			
				<a href="#" class="cjt-tb-link cjttbl-templates-lookup" title="<?php _e('Pickup Template', CJTOOLBOX_TEXT_DOMAIN) ?>"></a>				
				<iframe src="" class="popup-menu templates-lookup" NOBORDER="1" style="display:none"></iframe>
				
				<a href="#" class="cjt-tb-link cjttbl-info" title="<?php _e('Block info', CJTOOLBOX_TEXT_DOMAIN) ?>"></a>				
				
				<a href="#" class="cjt-tb-link cjttbl-switch-editor-language" title="<?php _e('Switch Edit Language', CJTOOLBOX_TEXT_DOMAIN) ?>"></a>
				<div class="popup-menu editor-langs" style="display:none">
					<a href="#" class="cjt-tb-link cjt-tb-text-link cjttbl-editor-language-css" title="<?php _e('Trun editor into CSS', CJTOOLBOX_TEXT_DOMAIN) ?>"><?php echo _e('Cascading Style Sheets', CJTOOLBOX_TEXT_DOMAIN) ?></a>
					<a href="#" class="cjt-tb-link cjt-tb-text-link cjttbl-editor-language-html" title="<?php _e('Turn editor into HTML', CJTOOLBOX_TEXT_DOMAIN) ?>"><?php echo _e('Hyper Text Markup Language', CJTOOLBOX_TEXT_DOMAIN) ?></a>
					<a href="#" class="cjt-tb-link cjt-tb-text-link cjttbl-editor-language-javascript" title="<?php _e('Turn editor into Javascript', CJTOOLBOX_TEXT_DOMAIN) ?>"><?php echo _e('Java Script', CJTOOLBOX_TEXT_DOMAIN) ?></a>
					<a href="#" class="cjt-tb-link cjt-tb-text-link cjttbl-editor-language-php" title="<?php _e('Trun editor into PHP', CJTOOLBOX_TEXT_DOMAIN) ?>"><?php echo _e('Personal Home Page', CJTOOLBOX_TEXT_DOMAIN) ?></a>
				</div>
				
				<a href="#" class="cjt-tb-link cjttbl-edit-name" title="<?php _e('Edit block name', CJTOOLBOX_TEXT_DOMAIN) ?>"></a>
				<a href="#" class="cjt-tb-link cjttbl-revisions" title="<?php _e('Block Revisions', CJTOOLBOX_TEXT_DOMAIN) ?>"></a>
				<a href="#" class="cjt-tb-link cjttbl-delete" title="<?php _e('Delete Block', CJTOOLBOX_TEXT_DOMAIN) ?>"></a>
			</div>
			<div class="divider"></div>
			<div class="icons-group">
				<a href="#" class="cjt-tb-link cjttbl-save il-60x23" title="<?php _e('Save Block', CJTOOLBOX_TEXT_DOMAIN) ?>"><?php _e('Save', CJTOOLBOX_TEXT_DOMAIN) ?></a>
			</div>
		</div>