<?php

	// Get custom post types
	$items = CJTBlocksModel::getCustomPostTypes();

?>
	<div id="custom-posts-container-<?php echo $block->id ?>" class="custom-posts-container">
<?php
	// If there is no custom posts registered show message
	//, otherwise create the custom-posts accordion
	if (!empty($items)) :
?>
<?php foreach ($items as $item) : ?>
		<div class="objects-list-button">
<?php	echo $this->getTemplate('inputs-list', array('item' => $item), 'tmpl/templates/assign-panel/templates') ?>
			<a href="#" class="custom-post-item-header"><?php echo $item['title'] ?></a>
		</div>
		<div class="custom-post-list">
<?php
				// Get item 'renderer' (every tab has template to render) template.
				$tabViewTmpl = $item['renderer'];
				// Use template view for rendering the tab.
				echo $this->getTemplate($tabViewTmpl,
					array('tab' => $item, 'block' => $block),
					'tmpl/templates/assign-panel/templates'
					);
?>
		</div>
<?php endforeach; ?>
<?php else : ?>
		<div class="list-error">
			<span class="message"><?php echo cssJSToolbox::getText('There are no Custom Posts Defined yet!') ?></span>
			<br />
			<br />
			<span class="desc">This message is displayed if there is no Custom Post types defined or there is no Posts Added under Custom Post types!</span>
		</div>
<?php endif; ?>
	</div>