<ul id="objects-list-<?php echo $tab['type']['type'] ?>-<?php echo $block->id ?>-0" class="pagelist"></ul>
<div class="info-panel">
	<span class="optional-actions">
		<a href="#" class="pagination-list"></a>
	</span>
	<span class="counter">
		<span class="info-panel-loaded-count">0</span> / <span class="info-panel-total">0</span>
	</span>
</div>