<?php
	// Import Wordpress pages checkbox list helpers.
	$this->importHelper('wpnavmenuwalker');
	$this->importHelper('wppageslist');	
?>
		<div class="cjpageblock">
			<div id="tabs-<?php echo $block->id; ?>" class="cjt-pages-tab">
				<ul>
					<li><a href="#tabs-<?php echo $block->id; ?>-pages"><?php echo cssJSToolbox::getText('Pages') ?></a></li>
					<li><a href="#tabs-<?php echo $block->id; ?>-posts"><?php echo cssJSToolbox::getText('Posts') ?></a></li>
					<li><a href="#tabs-<?php echo $block->id; ?>-custom-posts"><?php echo cssJSToolbox::getText('Custom Posts') ?></a></li>
					<li><a href="#tabs-<?php echo $block->id; ?>-categories"><?php echo cssJSToolbox::getText('Categories') ?></a></li>
					<li><a href="#tabs-<?php echo $block->id; ?>-other"><?php echo cssJSToolbox::getText('Auxiliary') ?></a></li>
					<li><a href="#tabs-<?php echo $block->id; ?>-advanced"><?php echo cssJSToolbox::getText('Advanced') ?></a></li>
				</ul>
				<div id="tabs-<?php echo $block->id; ?>-pages">
					<ul class="pagelist">
							<?php WPPagesListHelper::show_pages_with_checkbox($block->id, $block->pages, 'page', 'pages'); ?>
					</ul>
				</div>
				<div id="tabs-<?php echo $block->id; ?>-posts">
					<ul class="pagelist">
							<?php WPPagesListHelper::show_pages_with_checkbox($block->id, $block->posts, 'post', 'posts'); ?>
					</ul>
				</div>
				
				
				<div id="tabs-<?php echo $block->id; ?>-custom-posts">
					<ul class="pagelist">
<?php
						// Initialize custom posts tab vars.
						$NoCustomPosts = true;
						// List all (not-builtin, public) custom posts.
						$customPosts = get_post_types(array('public' => 1, '_builtin' => false), 'objects');
						foreach ($customPosts as $type => $postType) :
							// Get list markups into interanl buffer!
							ob_start();
							WPPagesListHelper::show_pages_with_checkbox($block->id, $block->posts, $type, 'posts'); 
							$list = ob_get_clean();
							// If there is not content on the output buffer then there is no posts inside that type!
							if ($list) :
								$NoCustomPosts = false;
?>
							<li>
								<span class="sub-list" title="<?php echo $postType->description ?>"><?php echo $postType->labels->name ?></span>
								<ul><?php echo $list ?></ul>
							</li>
<?php
							endif;
						endforeach;
						// If there is no any custom post available
						// print message.
						if ($NoCustomPosts) :
						
?>
							<li>
								<div class="list-error">
									<span class="message"><?php echo cssJSToolbox::getText('There are no Custom Posts Defined yet!') ?></span>
									<br />
									<br />
									<span class="desc">This message is displayed if there is no Custom Post types defined or there is no Posts Added under Custom Post types!</span>
								</div>
							</li>
<?php
						endif;
?>
					</ul>
				</div>
				
				
				<div id="tabs-<?php echo $block->id; ?>-categories">
					<ul class="pagelist">
							<?php WPPagesListHelper::show_taxonomy_with_checkbox($block->id, $block->categories); ?>
					</ul>
				</div>
				<div id="tabs-<?php echo $block->id; ?>-other">
					<ul class="pagelist">
						<li>
							<label>
<?php						echo $this->getPinCheckbox('pinPoint', CJTBlockModel::PINS_PAGES_FRONT_PAGE) ?>
							</label> 
							<span><a href="<?php bloginfo('url') ?>" target="_blank"><?php echo cssJSToolbox::getText('Front Page') ?></a></span>
						</li>
<?php
							$list = array(
								CJTBlockModel::PINS_POSTS_BLOG_INDEX =>  cssJSToolbox::getText('Blog Index'),
								CJTBlockModel::PINS_POSTS_ALL_POSTS =>  cssJSToolbox::getText('All Posts'),
								CJTBlockModel::PINS_PAGES_ALL_PAGES =>  cssJSToolbox::getText('All Pages'),
								CJTBlockModel::PINS_CATEGORIES_ALL_CATEGORIES =>  cssJSToolbox::getText('All Categories'),
								CJTBlockModel::PINS_POSTS_RECENT =>  cssJSToolbox::getText('Recent Posts'),
								CJTBlockModel::PINS_FRONTEND => cssJSToolbox::getText('Entire Website'),
								CJTBlockModel::PINS_BACKEND => cssJSToolbox::getText('Website Backend'),
								CJTBlockModel::PINS_SEARCH => cssJSToolbox::getText('Search Pages'),
								CJTBlockModel::PINS_ARCHIVE => cssJSToolbox::getText('All Archives'),
								CJTBlockModel::PINS_TAG => cssJSToolbox::getText('Tag Archives'),
								CJTBlockModel::PINS_AUTHOR => cssJSToolbox::getText('Author Archives'),
								CJTBlockModel::PINS_ATTACHMENT => cssJSToolbox::getText('Attachment Pages'),
								CJTBlockModel::PINS_404_ERROR => cssJSToolbox::getText('404 Error'),
							);
							foreach ($list as $value => $text) :
?>
						<li>
							<label>
<?php						echo $this->getPinCheckbox('pinPoint', $value) ?> <?php echo $text ?>
							</label>
						</li>
<?php					endforeach; ?>
					</ul>
				</div>
				<div id="tabs-<?php echo $block->id; ?>-advanced">
					<div id="advanced-accordion-<?php echo $block->id ?>" class="advanced-accordion">
						<a class="acc-header" href="#" title="<?php echo cssJSToolbox::getText('One URL per line') ?>"><?php echo cssJSToolbox::getText('URLs') ?></a>
						<div class="linklist">
							<textarea cols="31" rows="9" name="cjtoolbox[<?php echo $block->id; ?>][links]" id="cjcode-links-<?php echo $block->id; ?>"><?php echo $block->links; ?></textarea>
						</div>
						<a class="acc-header" href="#" title="<?php  echo cssJSToolbox::getText('One Expression per line') ?>"><?php echo cssJSToolbox::getText('Expressions') ?></a>
						<div class="linklist">
							<textarea cols="31" rows="9" name="cjtoolbox[<?php echo $block->id; ?>][expressions]" id="cjcode-expressions-<?php echo $block->id; ?>"><?php echo $block->expressions; ?></textarea>
						</div>
					</div>
				</div>
			</div>
			<div style="clear:both;"></div>
		</div>