<?php
/**
* 
*/

/**
* No direct access.
*/
defined('ABSPATH') or die("Access denied");

// Allow view to enqueue scripts and styles.
$this->enququeScripts();
$this->enququeStyles();
$this->suppressPrintScriptsHook();
?>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
<?php wp_print_head_scripts() ?>
<?php wp_print_styles() ?>
	</head>
	<body>
		<div id="cjtoolbox_popup">
<?php echo $this->getTemplate('form'); ?>
<?php echo $this->getTemplate('list'); ?>
		</div>
	</body>
</html>