			<form id="cjt-backups-form" class="cjt-form">
				<input type="hidden" id="controllerName" value="<?php echo $this->controllerName ?>" />
				<div id="backup">
					<input type="text" class="backup-name" name="name" value="" />
					<input type="button" id="createBackup" value="Backup" />
					<p class="field-note"><?php echo cssJSToolbox::getText('Write backup name and click Backup button to create backup from current blocks') ?></p>
				</div>
			</form>