<div class="block-info">
	<ul>
<?php do_action( CJTPluggableHelper::ACTION_BLOCK_SCREEN_INFO_TOP, $this->info ); ?>
		<li style="background-color:#EFEFEF"><span style="font-weight:bold"><?php echo cssJSToolbox::getText('Shortcode') ?>: </span><?php echo $this->info->shortcode ?></li>
	</ul>
</div>