<?php
/**
* 
*/

// Disallow direct access.
defined('ABSPATH') or die("Access denied");
?>
		<div class="cjt-toolbox edit-block-name">
			<input type="text" class="block-name" value="" maxlength="50">
			<div class="icons-group">
				<a class="cjt-tb-link cancel" title="<?php echo cssJSToolbox::getText('Cancel editing code block title') ?>"></a>
				<a class="cjt-tb-link save" title="<?php echo cssJSToolbox::getText('Save code block title') ?>"></a>
	    </div>
		</div>
<?php echo $this->getTemplate('toolbox', array(), 'tmpl/templates') ?>
		<input type="hidden" name="blocks[]" value="<?php echo $this->block->id ?>" />
<?php
		// Hidden fields.
			$fields = array('name', 'state','location');
			foreach ($fields as $field) :
?>
		<input type="hidden" name="cjtoolbox[<?php echo $this->block->id; ?>][<?php echo $field ?>]" value="<?php echo $this->block->$field ?>" />
<?php endforeach; ?>
		<div class="cjcontainer">
			<div class="cjcodeblock">
				<div class="datablock">
<?php			// Output block code only if the block metabox is opened.
					$code = '';
					$codeLoadedSignClass = '';
					$blockId = "cjtoolbox-{$this->block->id}";
					$closedMetaboxes = get_user_meta(get_current_user_id(), 'closedpostboxes_cjtoolbox', true);
					if (!in_array($blockId, ((array) $closedMetaboxes))) {
						$code = htmlentities($this->block->code, null, 'UTF-8');
						$codeLoadedSignClass = ' initially-loaded';
					}
?>
					<div id="editor-<?php echo $this->block->id ?>" class="code-editor<?php echo $codeLoadedSignClass ?>"><?php echo $code ?></div>					
				</div>
			</div>
		</div>