<?php 
/**
* 
*/

// Disallow direct access.
defined('ABSPATH') or die('Restricted Access');

// Get block view content.
$blockView = $this->getBlockView();
$blockContent = $blockView->getTemplate($blockView->templateName);

// Put the Objects Panel at the begning of the block content.
echo $this->getTemplate('default', array('block' => $blockView->getBlock()), 'tmpl/templates/assign-panel');
echo $blockContent;