<?php 
/**
* 
*/

// Disallow direct access.
defined('ABSPATH') or die('Restricted Access');

// Block view aggregated object!
$blockView = $this->getBlockView();
?>
<div id="cjtoolbox-<?php echo $blockView->block->id; ?>" class="postbox">
	<div class="handlediv" title="Click to toggle"><br /></div>
	<h3 class='hndle'>
		<span><span class="block-name"><?php echo $blockView->block->name ?></span></span>
	</h3>
	<div class="inside">
<?php echo $this->getTemplate('default') ?>
	</div>
</div>