table#cjt-statcs-metabox {width: 100%;padding: 0 14px 8px;border-bottom: 1px solid #eeeeee;;color: #999999;font-size: 14px;}
table#cjt-statcs-metabox strong {color: black;}
#cjt-statcs-metabox th {text-align: right;}
#cjt-statcs-metabox th {padding-bottom: 10px;}
div#cjt-statcs-metabox-info {padding-top: 14px;}
.latest-scripts {padding-left: 22px;}
.latest-scripts a {font-size: 13px;}